*{
    margin: 2px;
    padding: 2px;
    font-family: 'Lato', sans-serif;
}
.row{
    display: flex;
}

hr{
    display: block;
    margin: 0px;
    padding: 2px;
    background-color: #bcbbbb;
    width: 100%;
}

h1{
    font-weight: 100;
    font-size: 5em;
}


h3{
    font-size: 2.5em;
    font-color: #747704;
    font-weight: bolder;
}

h4{
    font-weight: bolder;
    font-size: 1.5em;
}

p{
    color: #bcbbbb;
    font font-family: none;
    font-weight: 300;
}
h2{
    color: #bcbbbb;
    font-size: 2.5em;
    font-weight: bolder;
}
.prj_img{
    width: 400px;
    height: 200px;
}

.big_img{
    margin: 0px;
    padding: 0px;
    width: 1140px;
    height: 415px;
}